:root {
  --mantine-font-family: "Inter" !important;
  --mantine-font-family-headings: "Inter" !important;
}

.notif-card {
  cursor: pointer;
}

.notif-card:hover {
  border-color: var(--mantine-color-blue-2) !important;
  background-color: var(--mantine-color-blue-0);
}

.custom-duotone path[opacity],
.custom-duotone circle[opacity] {
  opacity: 0.25 !important;
}

.mantine-Input-input[data-variant="default"]:not(.custom-data-input) {
  border-color: #9c9c9c;
}

.custom-data-input {
  border-color: #bbbbbb;
  padding: 0px 12px !important;
  font-weight: 600;
}

.mantine-Input-input[data-variant="default"]:focus {
  border-color: #2c68ff;
}

.mantine-InputWrapper-label {
  font-weight: 600 !important;
}

.sidebar-link,
.sidebar-logo-text {
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-link > .mantine-NavLink-body,
.sidebar-logo-text {
  opacity: 1;
  transition: all 0.3s ease-in-out 0.1s;
  pointer-events: all;
  transform: translateY(0px);
}

.sidebar-link.hidden > .mantine-NavLink-body,
.sidebar-logo-text.hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in-out 0s;
  transform: translateY(3px);
}

.search-input::placeholder {
  color: #555555 !important;
}

.drop-box {
  border-width: 2px;
  border-style: dashed;
  border-color: #ced4da;
}

.drop-box:hover,
.drop-box.dragging {
  border-color: #868e96;
}

.quick-link-desc {
  transform: translateY(130px);
  will-change: transform;
  transition-duration: 500ms;
}

.quick-link:hover .quick-link-desc {
  transform: translateY(0);
}
