.scrollWrapper {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: var(--mantine-spacing-xl);
  border-radius: 30px;

  /* Smooth scrolling experience */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbars if preferred */
  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  position: relative;
  /* margin-bottom: var(--mantine-spacing-xl); */
  background-color: #eaeaff;
  padding: 6px;
  border-radius: 30px;
  width: 100%;
  min-width: max-content;

  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-shrink: 0;
  overflow-x: auto;
}

.indicator {
  background-color: var(--mantine-color-white);
  border-radius: 999px;
  /* border: 1px solid var(--mantine-color-gray-2); */
  box-shadow: var(--mantine-shadow-sm);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  z-index: 1;
  font-weight: 600;
  transition: color 100ms ease;
  color: var(--mantine-color-gray-7);
  border: 0;
  flex: 1;
  flex-shrink: 0;
  padding-right: 30px;
  display: flex;
  align-items: baseline;
  padding-left: 30px;
  white-space: nowrap;
  /* padding: 8px 16px; */

  &[data-active] {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.tab[data-active="true"] {
  color: #2c68ff;
}
